.logo {
  overflow: hidden;
  min-width: 111px;
  text-indent: 101%;
  white-space: nowrap;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 111px 40px;
  background-image: url("../images/logo.jpg");

  a {
    display: block;
    height: 100%;
  }
}

.hamburger-menu {
  @include font($fs: 2rem, $lh: 2rem);

  color: $black4;

  @include pad {
    display: block;
  }

  &-list {
    top: 0;
    right: 0;
    z-index: 5;
    justify-content: space-between;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: 1px -1px 3px $black4 inset;
    transition: 0.5s;
    transform: translateX(100%);

    @include phone {
      width: 70vw;
    }

    li:not(:first-child) {
      @include font(2rem);

      position: relative;
      padding: 1rem 0;

      @include phone {
        @include font(2rem);
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 1.5px;
        background-color: $primary;
        content: "";
      }
    }

    &.is-show {
      transform: translateX(0);
    }

    ul a:not(.hamburger-menu-list-close) {
      padding: 1.5rem;

      @include phone {
        padding: 1rem;
      }
    }
  }

  &-btn {
    a {
      @include font(1.5rem, 700);
    }

    i {
      vertical-align: middle;
    }
  }
}

.project-body {
  background-color: #f8f9fa;
}

.info-body {
  max-width: $max-width;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "tabs card"
    "form card"
    ". card";
  column-gap: 42px;

  @include pad {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "tabs"
      "card"
      "form";
    column-gap: 0;
  }
}

.tabs-list-content {
  grid-area: tabs;
}

.card-list {
  grid-area: card;

  &-title {
    @include font(20px, 700, 29px);

    padding: 6px 0 5px;
    margin-bottom: 1rem;
    text-align: center;
    color: $black2;
    background-color: #f8f9fa;
    border-radius: 8px;
    letter-spacing: 2px;
    border-right: 4px solid $primary;
    border-left: 4px solid $primary;
  }
}

.faq {
  counter-reset: qNum;
}

.store {
  border: 1px solid #e5e5e5;
  border-radius: 8px;

  &-img {
    overflow: hidden;
    width: 94px;
    height: 94px;
    border: 3px solid $primary;
  }

  &-name {
    width: calc(100% - 116px);

    h4 {
      @include font(20px, 500, 29px);

      letter-spacing: 2px;
      color: $black2;
    }

    small {
      @include font($lh: 1.5rem);

      letter-spacing: 0.7px;
      color: $black1;
    }
  }

  &-description {
    @include font($lh: 1.5rem);

    letter-spacing: 0.7px;
    color: $black1;

    @include pad {
      display: none;
    }
  }

  &-about {
    justify-content: space-between;
  }

  &-link a {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: $black4;

    &:hover {
      color: $hover;
      background-color: $primary;
    }
  }

  &-contact {
    @include font(0.75rem, 400, 18px);

    padding: 6px 13px;
    color: $black4;
    border: 1px solid $black4;
    border-radius: 15px;

    &:hover {
      background-color: $primary;
      border-color: $primary;

      i {
        color: $hover;
      }
    }
  }
}

.form {
  grid-area: form;

  img {
    width: 43px;
    height: 36px;
  }

  &-title {
    @include font(1.5rem, 700, 2.25rem);

    color: $black2;

    &::before,
    &::after {
      display: block;
      margin: auto;
      width: 3rem;
      height: 3px;
      background-color: $primary;
      content: "";
      flex-grow: 1;
    }

    &::before {
      margin-right: 1rem;
    }

    &::after {
      margin-left: 1rem;
    }
  }

  label {
    @include font($lh: 1.5rem);

    color: $black1;
  }

  input,
  .select-bar {
    padding: 7px 17px;
    line-height: 24px;
  }

  .err-msg {
    @include font(14px, 400, 20px);

    color: $hover;
  }

  &-submit {
    @include font(20px, 700, 29px);

    padding: 10px 46px 9px;
  }
}

.message-content {
  font-size: 14px;
}

.footer {
  @include font($lh: 1.5rem);

  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: $black2;
  letter-spacing: 0.2px;
}
