.btn {
  display: inline-block;
  padding: calc(0.5em + 1px) 0 calc(0.5em + 1px);
  border-radius: 1.3em;
}

.btn-fluid {
  display: block;
  padding: calc(0.5em + 1px) 0 calc(0.5em + 3px);
  text-align: center;
  border-radius: 1.2em;
}

.btn-primary {
  color: $black3;
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 1.3em;

  &:hover {
    color: #fff;
    background-color: $hover;
    border: 2px solid $hover;
  }
}

.btn-secondary {
  color: $black4;
  background-color: #fff;
  border: 2px solid $black4;

  &:hover {
    background-color: $primary;
    border: 2px solid $primary;

    i {
      color: $hover;
    }
  }
}

.mask {
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: $black1;
  opacity: 0.6;
}

.tag {
  display: inline-block;
  padding: 0.25em 1.43em;
  border-radius: 4px;
}
